body {
	font-family: 'Work Sans', sans-serif;
	color: #1D232F;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}
/* TITLES */
h1, h2, h3, h4, h5, h6 {
	margin: 0 auto;
}
h1, h2, h3 {
	font-weight: 300;
}
h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 48px;
	color: #FF0091;
	line-height: 84px;
}
h2 {
	font-size: 40px;
	line-height: 84px;
}
h3 {
	font-size: 36px;
	line-height: 84px;
}
h4 {
	font-size: 30px;
	line-height: 56px;
}
h5 {
	font-size: 24px;
	line-height: 56px;
}
h6 {
	font-size: 20px;
	line-height: 56px;
}
/* TEXT ELEMENTS */
p {

}
a {
	font-weight: 700;
	color: #78A9D6;
	text-decoration: none;
}
code {
	background-color: #1D232F;
	color: #fff;
}
mark {
	background-color: #78A9D6;
}
blockquote {
	font-size: 20px;
	font-weight: 300;
	background-color: #1D232F;
	color: #fff;
	margin: 0;
	padding: 40px 28px;
	width: 50%;
	margin-left: 51%;
}
blockquote:before {
	content: open-quote;
}
blockquote:after {
	content: close-quote;
}
blockquote:before, blockquote:after {
	color: #FF0091;
	font-size: 24px;
}
ul li {
	list-style: none;
} 
ul li:before {
	content:'\25A0';
	margin-right: 10px;
	color: #78A9D6; 
}
ol li {
    list-style-type: none;
    counter-increment: list;
}
ol li:before{
	content: counter(list) ".";
	color: #78A9D6;
	margin-right: 10px;
}

/* COLORS */
.color-chip {
	height: 60px;
	width: 180px;
	display: inline-block;
	margin-bottom: 80px;
	text-align: center;
}
.color-one {
	background-color: #FF0091;
}
.color-chip.color-one:after {
	content: "#FF0091";
}
.color-two {
	background-color: #1D232F;
	color: #fff;
}
.color-chip.color-two:after {
	content: "#1D232F";
}
.color-three {
	background-color: #EDE6B1;
}
.color-chip.color-three:after {
	content: "#EDE6B1";
}
.color-four {
	background-color: #FDFBE9;
}
.color-chip.color-four:after {
	content: "#FDFBE9";
}
.color-five {
	background-color: #DE9BDF;
}
.color-chip.color-five:after {
	content: "#DE9BDF";
}
.color-six {
	background-color: #78A9D6;
}
.color-chip.color-six:after {
	content: "#78A9D6";
}

.color-one:after, .color-two:after, .color-three:after, .color-four:after, .color-five:after, .color-six:after {
	position: relative;
	top: 65px;
	color: #1D232F;
}
/* BOTONES */
.btn {
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.btn-normal {
	background-color: #FF0091;
	color: #fff;
	border: 3px solid #fff;
}
.btn-alt {
	background-color: #fff;
	border: 3px solid #DE9BDF;
	color: #DE9BDF;
}
.btn-lg {
	width: 300px;
	height: 75px;
	font-size: 20px;
	line-height: 75px;
}
.btn-normal.btn-lg:after {
	content: " ";
	position: relative;
	right: -100px;
	bottom: 6px;
	width: 0;
	height: 0;
	border-bottom: 35px solid #fff;
	border-left: 35px solid transparent;
}
.btn-alt.btn-lg:after {
	content: " ";
	position: relative;
	right: -100px;
	bottom: 6px;
	width: 0;
	height: 0;
	border-bottom: 35px solid #DE9BDF;
	border-left: 35px solid transparent;
}
.btn-md {
	width: 150px;
	height: 50px;
	line-height: 50px;
}
.btn-normal.btn-md:after {
	content: " ";
	position: relative;
	right: -36px;
	bottom: 2px;
	width: 0;
	height: 0;
	border-bottom: 20px solid #fff;
	border-left: 20px solid transparent;
}
.btn-alt.btn-md:after {
	content: " ";
	position: relative;
	right: -36px;
	bottom: 2px;
	width: 0;
	height: 0;
	border-bottom: 20px solid #DE9BDF;
	border-left: 20px solid transparent;
}
.btn-normal:hover {
	background-color: #78A9D6;
}
.btn-alt:hover {
	color: #78A9D6;
}
/* DISEÑO */
/* CUERPO WEB */
.main-content {
	padding: 20px 70px 30px;
}
.full-width {
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 70px;
	padding-right: 60%;
	margin-right: -70px;
	margin-left: -70px;
}
/* CABECERA WEB */
.top-color {
	margin-top: 0;
	padding: 60px 70px 1px;
	color: #fff;
}
.logo-img {
	width: 300px;
	display: block;
	margin: 30px auto;
}
.menu {
	padding: 0;
	text-align: center;
	margin-bottom: 3px;
}
.menu-item:before {
	content: none;
}
.menu-item {
	display: inline-block;
	margin: auto 5%;
}
.menu-item a {
	color: #1D232F;
	font-weight: 300;
	font-size: 36px;
}
.menu-item a:hover {
	color: #78A9D6;
	border-bottom: 3px solid #78A9D6;
}
.menu-item a:active {
	color: #FF0091;
	border-bottom: 3px solid #FF0091;
}
/* MICRO CLEARFIX */
.cf:after {
	clear: both;
}