// BOTONES
.btn {
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	line-height: 3.5rem;

	background-color: $color-one;
	color: $color-w;
	border: 3px solid $color-one;

	height: 3.5rem;
	width: 12rem;
	position: relative;
	margin: 0 auto;
	display: block;
	cursor: pointer;
		
	&:hover {
		background-color: $color-six;
		border: 3px solid $color-six;
	}
	&:after {
		position: absolute;
		content: "";
		right: -3px;
		bottom: -3px;
		line-height: 0;
		width: 0;
		height: 0;
		border-top: solid 1rem transparent;
		border-left: solid 1rem transparent;
		border-right: solid 1rem $color-w;
		border-bottom: solid 1rem $color-w;
	}
	&--long {
		width: 24rem;
	}
	&--alt {
		background-color: $color-w;
		color: $color-one;
		border: 3px solid $color-one;
			
		&:hover {
			background-color: $color-w;
			border: 3px solid $color-six;
			color: $color-six;
			&:after {
				border-right: solid 1rem $color-six;
				border-bottom: solid 1rem $color-six;
			}
		}
		&:after {
			border-right: solid 1rem $color-one;
			border-bottom: solid 1rem $color-one;
		}
	}
}

//BTN FORMULARIO
.btn_send {
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	background-color: $color-one;
	color: $color-w;
	border: 3px solid $color-one;
	height: 3.5rem;
	
	position: relative;
	
	cursor: pointer;

	&:hover {
		background-color: $color-six;
		border: 3px solid $color-six;
	}

	&--after {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 12rem;
		
		&:after {
			position: absolute;
			content: "";
			right: -3px;
			bottom: -3px;
			line-height: 0;
			width: 0;
			height: 0;
			border-top: solid 1rem transparent;
			border-left: solid 1rem transparent;
			border-right: solid 1rem $color-w;
			border-bottom: solid 1rem $color-w;
		}
	}
}


