form {
}
fieldset {
	border: transparent;
	padding: 0;
	margin: 0;
}
legend {
	color: transparent;
	line-height: 0;
	margin: 0;
	padding: 0;
}
label,
input,
textarea {
	display: block;
	margin:0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.75rem;
}
input {
	height: 3rem;
	margin-bottom: 1.75rem;
	padding: .5rem;
}
textarea {
	height: 6rem;
	margin-bottom: 1.75rem;
	padding: .5rem;
	line-height: 1rem;
}

input:not(.btn_send),
textarea {
	border: 3px solid $color-five;
	background-image: url(../img/input--corner.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 1.5rem;
}
input:not(.btn_send):focus,
textarea:focus {
	border: 3px solid $color-four;
	background-image: url(../img/input--corner-focus.png);
}

.hide {
	display: none;
}

select {
	display: block;
	margin:0;
	padding: 0 1rem;
	width: 100%;
	max-width: 24rem;
	height: 3.5rem;

	appearance: none;
	border-radius: 0;
	background-color: $color-w;
	border: 3px solid $color-one;
	background-image: url(../img/selector--corner.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 2rem;

	font-size: 1rem;
	color: $color-two;
}
