// IMG GENERAL E INDEX
img {
	line-height: 0;
}
.img {
	line-height: 0;
	position: relative;
}
.img_index--perfil {
	width: 100%;
}
.img_index--inline {
	display: inline-block;
}
.img:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	line-height: 0;
	width: 0;
	height: 0;
	border-top: solid 2rem transparent;
	border-left: solid 2rem transparent;
	border-right: solid 2rem $color-w;
	border-bottom: solid 2rem $color-w;
}
.img--xs:after {
	border-top: solid 1rem transparent;
	border-left: solid 1rem transparent;
	border-right: solid 1rem $color-w;
	border-bottom: solid 1rem $color-w;
}
.img--one:after {
	border-right: solid 2rem $color-one;
	border-bottom: solid 2rem $color-one;
}
.img--one--xs:after {
	border-top: solid 1rem transparent;
	border-left: solid 1rem transparent;
	border-right: solid 1rem $color-one;
	border-bottom: solid 1rem $color-one;
}
.img--four:after {
	@media all and (min-width: 1024px) {
		border-right: solid 2rem $color-four;
		border-bottom: solid 2rem $color-four;
	}
}
.img_index--container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.img_index--skill {
	height: 2.5rem;
	margin: 0.5rem;
	@media all and (min-width: 768px) {
		height: 3rem;
	}
}
.img_index--content {
	width: 40vw;
	margin: 1rem auto;
	@media all and (min-width: 768px) {
		width: 25vw;
		max-width: 280px;
	}
	@media all and (min-width: 1024px) {
		width: 12vw;
		max-width: 340px;
	}
}
// GENERAL
.img_box {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}
// PORTFOLIO
.img_portfolio {
	width: 100%;
}
.img_portfolio--container {
	margin-bottom: 1.75rem;
	margin-top: -6rem;
	@media all and (min-width: 768px) {
		width: 60%;
		float: right;
	}
	@media all and (min-width: 1024px) {
		width: 30%;
	}
}
// INEDI
.img_ine {
	width: 100%;
}
.img_ine--xs {
	width: 30%;
	float: left;
	clear: left;
}
.img_ine--s {
	width: 60%;
	float: right;
}
.img_ine--container:after {
	content: "";
	display: block;
	clear: both;
}
// NAOW

.img_naow {
	width: 100%;
}
.img_naow--logo {
	padding: 3rem;
	box-sizing: border-box;
}
.img_naow--icon {
	width: 20%;
	display: inline-block;
	float: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
.img_naow--icon--container:after {
	content: "";
	display: block;
	clear: both;
}
// SOKAIRE
.img_sok {
	width: 100%;
	@media all and (min-width: 768px) {
		
	}
}
.img_sok--logo {
	@media all and (min-width: 768px) {
		width: 50%;
	}
	@media all and (min-width: 1024px) {
		width: 100%;
	}
}
.img_sok--box {
	@media all and (min-width: 768px) {
		margin: 0 auto;
		width: 75%;
	}
	@media all and (min-width: 1024px) {
		width: 35%;
		margin: 0;
		margin-bottom: 1.75rem;
	}
}
.img_sok--rotate {
	transform: rotate(90deg);
	height: 100px;
	margin: 0 15%;
	@media all and (min-width: 768px) {
		transform: rotate(0deg);
		margin: 0;
		margin-left: 10%;
	}
	@media all and (min-width: 1024px) {
		height: 180px;
		margin: 1rem 5% 0;
	}
}
.img_sok--xs {
	display: inline-block;
	width: 45%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	float: left;
	@media all and (min-width: 1024px) {
		position: absolute;
		float: right;
		right: 0;
	}
}
.img_sok--md {
	@media all and (min-width: 768px) {
		width: 30%;
		margin-right: 1.5%;
		margin-left: 1.5%;
		float: left;
	}
	@media all and (min-width: 1024px) {
		position: absolute;
		width: 15%;
		right: 0;
	}
}
@media all and (min-width: 1024px) {
	.img_sok--col--uno {
		top: 0;
	}
	.img_sok--col--dos {
		top: 200px;
	}
	.img_sok--col--tres {
		top: 400px;
	}
}

.img_sok--xl {
	@media all and (min-width: 768px) {
		width: 60%;
		float: right;
	}
	@media all and (min-width: 1024px) {
		position: absolute;
		top: 0;
		width: 40%;
		right: 20%;
	}
}
// CONTACT
.img_contact {
	width: 100%;
}