// IMG GENERAL E INDEX
img {
	line-height: 0;
}
.img {
	line-height: 0;
	position: relative;
	// TRIANGULITOS AFTER
	&:after {
		position: absolute;
		content: "";
		right: 0;
		bottom: 0;
		line-height: 0;
		width: 0;
		height: 0;
		border-top: solid 2rem transparent;
		border-left: solid 2rem transparent;
		border-right: solid 2rem $color-w;
		border-bottom: solid 2rem $color-w;
	}
	&--xs:after {
		border-top: solid 1rem transparent;
		border-left: solid 1rem transparent;
		border-right: solid 1rem $color-w;
		border-bottom: solid 1rem $color-w;
	}
	&--one:after {
		border-right: solid 2rem $color-one;
		border-bottom: solid 2rem $color-one;
	}
	&--one--xs:after {
		border-top: solid 1rem transparent;
		border-left: solid 1rem transparent;
		border-right: solid 1rem $color-one;
		border-bottom: solid 1rem $color-one;
	}
	&--three:after {
		@media all and (min-width: 768px) {
			border-right: solid 2rem $color-four;
			border-bottom: solid 2rem $color-four;
		}
	}
	&--four:after {
		@media all and (min-width: 1024px) {
			border-right: solid 2rem $color-four;
			border-bottom: solid 2rem $color-four;
		}
	}
}

// INDEX
.img_index {
	&--perfil {
		width: 100%;
	}
	&--inline {
		display: inline-block;
	}
	&--container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&--skill {
		height: 2.5rem;
		margin: 0.5rem;
		@media all and (min-width: 768px) {
			height: 3rem;
		}
	}
	&--content {
		width: 40vw;
		margin: 1rem auto;
		@media all and (min-width: 768px) {
			width: 25vw;
			max-width: 280px;
		}
		@media all and (min-width: 1024px) {
			width: 12vw;
			max-width: 340px;
		}
	}
}

// GENERAL para proyectos
.img_box {
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}
// PORTFOLIO pagina ppal
.img_portfolio {
	width: 100%;
	&--container {
		margin-bottom: 1.75rem;
		margin-top: -6rem;
		@media all and (min-width: 768px) {
			width: 60%;
			float: right;
		}
		@media all and (min-width: 1024px) {
			width: 30%;
		}
	}
}

// INEDI
.img_ine {
	width: 100%;

	&--xs {
		width: 30%;
		float: left;
		clear: left;
	}
	&--s {
		width: 60%;
		float: right;
	}
	&--container:after {
		content: "";
		display: block;
		clear: both;
	}
	@media all and (min-width: 768px) {
		&--left {
			position: absolute;
			top: 0;
			left: 0;
			width: 30%;
		}
		&--right {
			position: absolute;
			top: 0;
			right: 0;
			width: 30%;
		}
		&--move {
			width: 15%;
			display: block;
			margin: 1.75rem auto 3rem;
			float: none;
		}
	}
}

// NAOW
.img_naow {
	width: 100%;
	&--logo {
		padding: 3rem;
		box-sizing: border-box;
	}
	&--icon {
		width: 20%;
		display: inline-block;
		margin: 0 2%;
		@media all and (min-width: 768px) {
			width: 40%;
			margin: 2.5%;
		}
	}
	@media all and (min-width: 768px) {
		&--icon--container {
			width: 20%;
			position: absolute;
			bottom: 1.75rem;
			right: 1.75rem;		
		}
		&--icon--container:after {
			content: "";
			display: block;
			clear: both;
		}
		&--xl {
			width: 40%;
			display: inline-block;
			margin: 1.75rem 4%;
			@media all and (min-width: 1024px) {
				width: 30%;
				margin: 1.75rem 1%;
			}
		}
	}
	
}

// SOKAIRE
.img_sok {
	width: 100%;
	
	&--rotate {
		transform: rotate(90deg);
		height: 100px;
		margin: 0 15%;
		@media all and (min-width: 768px) {
			transform: rotate(0deg);
			margin: 0;
			margin-left: 10%;
		}
		@media all and (min-width: 1024px) {
			height: 180px;
			margin: 1rem 5% 0;
		}
	}
	&--xs {
		display: inline-block;
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		float: left;
		@media all and (min-width: 1024px) {
			position: absolute;
			float: right;
			right: 0;
		}
	}
	@media all and (min-width: 768px) {
		&--logo {
			width: 50%;
			@media all and (min-width: 1024px) {
				width: 100%;
			}
		}
		&--box {
			margin: 0 auto;
			width: 75%;
			@media all and (min-width: 1024px) {
				width: 35%;
				margin: 0;
				margin-bottom: 1.75rem;
			}
		}
		
		&--md {
			width: 30%;
			margin-right: 1.5%;
			margin-left: 1.5%;
			float: left;
			@media all and (min-width: 1024px) {
				position: absolute;
				width: 15%;
				right: 0;
			}
		}
		&--xl {
			width: 60%;
			float: right;
			@media all and (min-width: 1024px) {
				position: absolute;
				top: 0;
				width: 40%;
				right: 20%;
			}
		}
	}	
	@media all and (min-width: 1024px) {
		&--col--uno {
			top: 0;
		}
		&--col--dos {
			top: 200px;
		}
		&--col--tres {
			top: 400px;
		}
	}
}

// CONTACT
.img_contact {
	width: 100%;
}