.header_menu {
	padding: 0;
	margin: 0;
	@media all and (min-width: $tablet) {
		text-align: center;
		position: relative;
		top: 3.4rem;
	}
	@media all and (min-width: $desktop) {
		top: 4rem;
	}

	&--btn{
	// animated icons for nav-mobile
		position: absolute;
		bottom: 2.625rem;
		left: 0.85rem;
		width: 2.25rem;
		padding: 1rem;
		padding-left: 0.85rem;
		margin: -1rem;
		margin-left: -0.85rem;

		cursor: pointer;
		
		& span {
			position: absolute;
			height: 3px;
			border-radius: 2px;
			background: $color-one;
			transition: transform .6s ease;

			&.one {
				width: 20px;
				top: 8px;
				left: 7px;
			}

			&.two {
				width: 20px;
				top: 14px;
				left: 7px;
			}

			&.three {
				width: 20px;
				top: 20px;
				left: 7px;
			}
		}
		&:active span {
			background-color: $color-six;
		}
		&.closed span {
			&.one {
				width: 20px;
				top: 13px;
				left: 5px;
				transform: rotate(225deg);
			}
			&.two {
				width: 3px;
				left: 12px;
			}
			&.three {
				width: 20px;
				top: 13px;
				left: 5px;
				-webkit-transform: rotate(-225deg);
				-moz-transform: rotate(-225deg);
				transform: rotate(-225deg);
			}
		}
		@media all and (min-width: $tablet) {
			display: none;
		}
	}

	&--active {
		position: absolute;
		left: 2.25rem;
		top: 0.3rem;
		width: 20px;
		@media all and (min-width: $tablet) {
			display: none;
		}

		&--fill {
			fill: $color-one;
		}
		.header_menu--btn:active &--fill {
			fill: $color-six;
		}
	}

	&--mobile {
		// NAV-MOBILE
		position: absolute;
		width: 100%;
		top: 10.5rem;
		right: 0;
		background-color: $color-w;
		transition: top 0.75s ease-in-out,
					z-index 0s 0.75s;
		box-sizing: border-box;
		color: $color-two;
		z-index: 1;

		&.closed {
			z-index: -1;
			top: 3.5rem;
			transition: top 0.75s 0s ease-in-out,
							z-index 0s;
		}

		@media all and (min-width: $tablet) {
			background-color: transparent;
			position: static;
			transition: none;
		}
	}
	&--item {
		border-bottom: 1px solid $color-two;
		padding: 0.25rem 0 0.25rem 2.25rem;
		@media all and (min-width: $tablet) {
			display: inline-block;
			margin: 0 2.5rem;
			border-bottom: none;
			padding: 0;
		}
		&:before {
			content: none;
		}
		& a {
			font-weight: 300;
			color: $color-two;
			text-decoration: none;
			font-size: 1.43rem;
			line-height: 1.43rem;

			@media all and (min-width: $tablet) {
				font-size: 1.5rem;
				padding-bottom: 3px;
				line-height: 1.75rem;
			}
			@media all and (min-width: $desktop) {
				padding-bottom: 18px;
			}
		}
		& a:active {
			color: $color-six;
			@media all and (min-width: $tablet) {
				border-bottom: 2px solid $color-six;
			}
		}
		& a:hover {
			@media all and (min-width: $desktop) {
				color: $color-six;
				border-bottom: 2px solid $color-six;
			}
		}
		&--about,
		&--portfolio,
		&--contact {
			display: inline-block;
			width: 20px;
			margin-right: 0.5rem;
			@media all and (min-width: $tablet) {
				display: none;
			}
		}
		&--about{
			height: 20px;
		}
		&--portfolio,
		&--contact {
			height: 17px;
		}
	}
	&--icon--fill {
		fill: $color-two;
		.header_menu--item a:active & {
			fill: $color-six;
		}
	}
}
// caso especial boton del portfolio en el menu
.menu_port--handheld {
	display: none;
}
.menu_port--not-handheld {
	display: inline;
}
@media all and (max-width: $tablet) {
	.menu_port--handheld {
		display: inline;
	}
	.menu_port--not-handheld {
		display: none;
	}
}
// caso especial boton del portfolio
.btn--handheld {
	display: none;
}
.btn--not-handheld {
	display: block;
}
@media all and (max-width: $tablet) {
	.btn--handheld {
		display: block;
	}
	.btn--not-handheld {
		display: none;
	}
}