.header_menu {
	padding: 0;
	margin: 0;
}
.header_menu--item a {
	font-weight: 300;
	color: $color-two;
	text-decoration: none;
}
.header_menu--item:before {
	content: none;
}
@media all and (min-width: 768px) {
	.header_menu {
		text-align: center;
		position: relative;
		top: 3.4rem;
	}
	.header_menu--item {
		display: inline-block;
		margin: 0 2.5rem;
	}
	.header_menu--item a {
		font-size: 1.5rem;
		padding-bottom: 3px;
	}
	.header_menu--item a:hover {
		color: $color-six;
		border-bottom: 2px solid $color-six;
	}
	.header_menu--item--about,
	.header_menu--item--portfolio,
	.header_menu--item--contact {
		display: none;
	}
}
@media all and (min-width: 1024px) {
	.header_menu {
		top: 4rem;
	}
	.header_menu--item a {
		margin: 0;
		padding-bottom: 18px;
	}
}
@media all and (max-width: 767px) {
	// NAV-MOBILE
	.header_menu--mobile {
		position: fixed;
		width: 100%;
		top: 10.5rem;
		right: 0;
		background-color: $color-w;
		box-sizing: border-box;
		transition: .75s ease-in-out;
		color: $color-two;
		z-index: -1;

		&.closed {
			top: 3.75rem;
		}
	}
	.header_menu--item {
		width: 100%;
		border-bottom: 1px solid $color-two;
		padding: 0.25rem 0 0.25rem 2.25rem;
	}
	.header_menu--item a {
		font-size: 1.43rem;
		line-height: 1.43rem;
		vertical-align: middle;
	}
	.header_menu--icon--fill {
		fill: $color-two;
	}
	.header_menu--item a:hover {
		color: $color-six;
	}
	.header_menu--item a:hover .header_menu--icon--fill {
		fill: $color-six;
	}

	.header_menu--item--about,
	.header_menu--item--portfolio,
	.header_menu--item--contact {
		display: inline-block;
		width: 20px;
		margin-right: 0.5rem;
	}
	.header_menu--item--about{
		height: 20px;
	}
	.header_menu--item--portfolio,
	.header_menu--item--contact {
		height: 17px;
	}
	// animated icons for nav-mobile
	.header_menu--btn{
		position: absolute;
		bottom: 2.625rem;
		left: 0.85rem;
		width: 2.25rem;
		padding: 1rem;
		padding-left: 0.85rem;
		margin: -1rem;
		margin-left: -0.85rem;

		cursor: pointer;

		& span {
			position: absolute;
			height: 3px;
			border-radius: 2px;
			background: $color-one;
			transition: transform .6s ease;

			&.one {
				width: 20px;
				top: 8px;
				left: 7px;
			}

			&.two {
				width: 20px;
				top: 14px;
				left: 7px;
			}

			&.three {
				width: 20px;
				top: 20px;
				left: 7px;
			}
		}

		&:hover span {
			background-color: $color-six;
		}

		&.closed span {
			&.one {
				width: 20px;
				top: 13px;
				left: 5px;
				transform: rotate(225deg);
			}
			&.two {
				width: 3px;
				left: 12px;
			}
			&.three {
				width: 20px;
				top: 13px;
				left: 5px;
				-webkit-transform: rotate(-225deg);
				-moz-transform: rotate(-225deg);
				transform: rotate(-225deg);
			}
		}
	}
}