body {
	font-family: 'Work Sans', sans-serif;
	color: $color-two;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}
/* CUERPO WEB */
.main-content {
	padding: 20px 70px 30px;
}
.full-width {
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 70px;
	padding-right: 60%;
	margin-right: -70px;
	margin-left: -70px;
}