/* COLORS */
.color-chip {
	height: 60px;
	width: 180px;
	display: inline-block;
	margin-bottom: 80px;
	text-align: center;
}
.color-one {
	background-color: #FF0091;
}
.color-two {
	background-color: #1D232F;
	color: #fff;
}
.color-three {
	background-color: #EDE6B1;
}
.color-four {
	background-color: #FDFBE9;
}
.color-five {
	background-color: #DE9BDF;
}
.color-six {
	background-color: #78A9D6;
}