/* COLORS */
$color-one: #FF0091; /*FUCHIA*/

$color-two: #1D232F; /*casi negro*/

$color-three: #EDE6B1; /* ? */

$color-four: #FDFBE9; /* ? */

$color-five: #DE9BDF; /* ? */

$color-six: #78A9D6; /* ? */

$color-w: #fff; /*WHITE*/