body {
	font-family: 'Work Sans', sans-serif;
	color: $color-two;
	font-weight: 400;
	font-size: 14px; //1rem
	line-height: 1.7rem;
	@media all and (min-width: 1024px) {
		font-size: 16px;
		line-height: 1.75rem;
	}
}
// CUERPO WEB