body {
	font-family: 'Work Sans', sans-serif;
	color: $color-two;
	font-weight: 400;
	font-size: 14px; //1rem
	line-height: 1.7rem;
	@media all and (min-width: 1024px) {
		font-size: 16px;
		line-height: 1.75rem;
	}
}
// CUERPO WEB
.section {
	display: block;

	margin: 0;
	padding: 1rem;
	@media all and (min-width: 768px) {
		padding: 1rem 2rem;
	}
	@media all and (min-width: 1024px) {
		padding: 1rem 3rem;
	}

	&_container {
		margin-top: 10.5rem;
		@media all and (min-width: 1024px) {
			margin-top: 17.5rem;
		}
	}
	&_container--flex {
		display: flex;
		flex-direction: column;
		@media all and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	&_container--blockquote {
		background-color: $color-two;
		@media all and (min-width: 768px) {
			max-width: 40%;
			float: right;
			margin-bottom: 2rem;
		}
		&--hl {
			@media all and (min-width: 768px) {
				margin-top: -3rem;
			}
		}
	}
	
	&--highlight {
		background-color: $color-four;
		align-items: flex-start;
		&--bqspace {
			@media all and (min-width: 768px) {
				padding-bottom: 3rem;
			}
		}
	}
	&--column {
		@media all and (min-width: 768px) {
			flex-basis: 30%;
		}
	}
	&--column--left {
		@media all and (min-width: 768px) {
			flex-basis: 60%;
		}
	}
}