/* COLORS */
$color-w: #fff;

$color-one: #FF0091;
.color-one {
	background-color: $color-one;
}

$color-two: #1D232F;
.color-two {
	background-color: $color-two;
	color: $color-w;
}

$color-three: #EDE6B1;
.color-three {
	background-color: $color-three;
}

$color-four: #FDFBE9;
.color-four {
	background-color: $color-four;
}

$color-five: #DE9BDF;
.color-five {
	background-color: $color-five;
}

$color-six: #78A9D6;
.color-six {
	background-color: $color-six;
}