// COLORS
$color-w: #fff;// white

$color-one: #FF0091;//fuchia

$color-two: #1D232F;//casi negro

$color-three: #EDE6B1;//amarillo

$color-four: #FDFBE9;//amarillo claro

$color-five: #DE9BDF;//moradito

$color-six: #78A9D6;//azulito